In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('data/input_data.csv')
df.head()

,Name,Chemical formula,m/z,HMDB,KEGG,PubChem,ChEBI,MetLin,Chemical sub class,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Pyruvic acid,C3H4O3,87.0082,HMDB0000243,C00022,1060,32816,117,Short-chain acids,NaN,NaN,NaN,NaN
1,L-Alanine,C3H7NO2,88.0403,HMDB0000161,C00041,5950,16977,-,Amino acids,NaN,NaN,NaN,NaN
2,Lactic acid,C3H6O3,89.0239,HMDB0000190,C00186,107689,422,5205,Short-chain acids,NaN,NaN,NaN,NaN
3,Phosphate,H3O4P,96.9691,HMDB0001429,C00009,1004,26078,3231,Phosphates,NaN,NaN,NaN,NaN
4,Serine,C3H7NO3,104.0352,HMDB0000187,C00065,5951,17115,5203,Amino acids,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                316 non-null    object
 1   Chemical formula    303 non-null    object
 2   m/z                 316 non-null    float64
 3   HMDB                303 non-null    object
 4   KEGG                302 non-null    object
 5   PubChem             302 non-null    object
 6   ChEBI               302 non-null    object
 7   MetLin              300 non-null    object
 8   Chemical sub class  285 non-null    object
 9   Unnamed: 9          0 non-null      float64
 10  Unnamed: 10         0 non-null      float64
 11  Unnamed: 11         0 non-null      float64
 12  Unnamed: 12         1 non-null      object
dtypes: float64(4), object(9)
memory usage: 32.2+ KB

In [7]:
df.describe()

               m/z  Unnamed: 9  Unnamed: 10  Unnamed: 11
count   316.000000         0.0          0.0          0.0
mean    508.008727         NaN          NaN          NaN
std     283.942781         NaN          NaN          NaN
min      87.008200         NaN          NaN          NaN
25%     190.777925         NaN          NaN          NaN
50%     518.301400         NaN          NaN          NaN
75%     771.785125         NaN          NaN          NaN
max    1053.641400         NaN          NaN          NaN

In [8]:
df.isnull().sum()

Name                    0
Chemical formula       13
m/z                     0
HMDB                   13
KEGG                   14
PubChem                14
ChEBI                  14
MetLin                 16
Chemical sub class     31
Unnamed: 9            316
Unnamed: 10           316
Unnamed: 11           316
Unnamed: 12           315
dtype: int64

In [11]:
npz_data='data/npz_data'

In [12]:
# loading npz 
spec_id=df.loc[0,'spec_id']
npz_path=os.path.join(npz_dir,f"{spec_id}.npz")

with np.load(npz_path) as npz:
    mz = npz['mz']
    intensities = npz['intensities']

print("\nFirst Spec ID:", spec_id)
print("m/z shape:", mz.shape)
print("Intensity shape:", intensities.shape)
print("\nSample m/z values:", mz[:10])
print("Sample intensities:", intensities[:10])

KeyError: 'spec_id'